<section class="banner">
    <div class="container">
        <h3 class="font-weight-bold text-white">台北當代藝術展</h3>
        <p class="font-weight-bold text-white">01 JUN - 31 OCT</p>
    </div>
</section>