<div class="banner">
  <div class="container h-100">
    <div class="bannerInfo d-flex flex-column justify-content-end h-100">
      <h3 class="font-weight-bold text-white mb-3">台北當代藝術展</h3>
      <p class="font-weight-bold text-white mb-7">01 JUN - 31 OCT</p>
      <div class="d-flex mb-28">
        <a href="" class="btn btn-secondary mr-2">購買票券</a>
        <a href="" class="btn btn-outline-white">詳細資訊</a>
      </div>
    </div>
  </div>
</div>