<footer class="container d-flex justify-content-between py-10">
  <div class="copyright">
    <p class="logo mr-5"><a href="index.html">EXHIBINECTION</a></p>
    <span class="text-darkgray">© 2020. All Rights Reserved.</span>
  </div>

  <ul class="pad-none d-flex align-items-center">
    <li class="pad-none mr-15">
      <a href="#">Sign in</a>
    </li>
    <li class="pad-none">
      <a href="#">Sign up</a>
    </li>
  </ul>
</footer>