<div class="container">
  <div class="otherExhibit">
    <h3 class="titleH3">猜你也喜歡...</h3>
    <ul class="cardTypeA w-100">
      <li>
        <a href="design.html">
          <div class="cardA-img"><img src="./assets/images/photo-6.jpg" alt="photo"></div>
          <h6 class="card-title">No.22 線上設計展</h6>
          <p class="cardA-content">$350</p>
        </a>
      </li>
      <li>
        <a href="design.html">
          <div class="cardA-img"><img src="./assets/images/photo-7.jpg" alt="photo"></div>
          <h6 class="card-title">No.22 線上設計展</h6>
          <p class="cardA-content">$350</p>
        </a>
      </li>
      <li>
        <a href="design.html">
          <div class="cardA-img"><img src="./assets/images/photo-8.jpg" alt="photo"></div>
          <h6 class="card-title">No.22 線上設計展</h6>
          <p class="cardA-content">$350</p>
        </a>
      </li>
    </ul>
  </div>
</div>