<div class="container">
  <div class="otherExhibit">
    <h3 class="titleH3" data-aos="fade-up" data-aos-duration="1500">猜你也喜歡...</h3>
    <ul class="card justify-content-between w-100" data-aos="fade-up" data-aos-duration="2000">
      <li class="otherExhibit-list">
        <a href="design.html">
          <div class="card-img mb-1"><img src="./assets/images/photo-6.jpg" alt="photo"></div>
          <h6 class="card-title">No.23 線上設計展</h6>
          <p class="text-lg">$350</p>
        </a>
      </li>
      <li class="otherExhibit-list">
        <a href="design.html">
          <div class="card-img mb-1"><img src="./assets/images/photo-7.jpg" alt="photo"></div>
          <h6 class="card-title">No.24 線上設計展</h6>
          <p class="text-lg">$350</p>
        </a>
      </li>
      <li class="otherExhibit-list">
        <a href="design.html">
          <div class="card-img mb-1"><img src="./assets/images/photo-8.jpg" alt="photo"></div>
          <h6 class="card-title">No.25 線上設計展</h6>
          <p class="text-lg">$350</p>
        </a>
      </li>
    </ul>
  </div>
</div>