<div class="sendmail">
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-end h-100">
      <h3 class="font-weight-bold text-white">
        想收到展覽的最新消息嗎？<br>
        快訂閱我們
      </h3>
      <div class="inputGroup mb-17">
        <input type="text" class="p-5" placeholder="輸入您的電子信箱">
        <a href="" class="text-center p-5">訂閱</a>
      </div>
    </div>
  </div>
</div>