<div class="sendmail">
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-end h-100">
      <h3 class="font-weight-bold text-white mb-5">
        想收到展覽的最新消息嗎？<br>
        快訂閱我們
      </h3>
      <input type="text" class="mb-17">
    </div>
  </div>
</div>