// header

.cart{
  position: relative;
}

.cart-number{
  position: absolute;
}


// 漢堡選單
.showMenu{
  margin-left: 15px;
  display: flex;
  align-items: center;

  span{ font-size: 30px; }
}

.showMenu-list{
  display: flex;
  flex-direction: column;
	/*隱藏選單開始*/
	max-height: 0px;
	overflow: hidden;
	/*隱藏選單結束*/
	transition: max-height 2s;
	margin-top: 1px;
	/*絕對定位疊在網頁上*/
	position: absolute;
	z-index: 100;
		
	top: 80px;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);

	flex-direction: column;
  align-items: center;
  a {color: $white;}
}

/*jQ點擊後動態在 body 加上 class */
.showMenu-list-show .showMenu-list{
  max-height: 480px;
}


// banner

.banner{
  height: 480px;
  background: url(./../images/photo-1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.bannerInfo{
  padding-left: 95px;

  @include mobile{
    padding: 0;
  }
}



// sendmail

.sendmail{
  height: 400px;
  background: url(./../images/photo-9.jpg) no-repeat;
  background-position: center center;
  background-size: cover;

  h3{ line-height: 1.5;}
}

// footer

.copyright{
  display: flex;

  @include mobile{
    flex-direction: column;
    p {margin-bottom: 4px;}
  }
}