// header

.cart{
  position: relative;
}

.cart-number{
  position: absolute;
  top: -6px;
  right: -10px;

  font-size: 12px;
  padding: 2px 6px;
  color: $white;
  background-color: $secondary;
  border-radius: 50%;
}


// 漢堡選單
.showMenu{
  margin-left: 15px;
  display: flex;
  align-items: center;

  span{ font-size: 30px; }
}

.showMenu-list{
  display: flex;
  flex-direction: column;
	/*隱藏選單開始*/
	max-height: 0px;
	overflow: hidden;
	/*隱藏選單結束*/
	transition: max-height 2s;
	margin-top: 1px;
	/*絕對定位疊在網頁上*/
	position: absolute;
	z-index: 100;
		
	top: 80px;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);

	flex-direction: column;
  align-items: center;
  a {color: $white;}
}

/*jQ點擊後動態在 body 加上 class */
.showMenu-list-show .showMenu-list{
  max-height: 480px;
}


// banner

.banner{
  height: 480px;
  background: url(./../images/photo-1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.bannerInfo{
  padding-left: 95px;

  @include mobile{
    padding: 0;
  }
}

.max-w__328{
  max-width: 328px;
  @include mobile{
    max-width: 100%;
  }
}


// otherExhibit

.otherExhibit{
  margin-bottom: 60px;

  & li {width: 32%;}
  @include pad{
    max-width: 345px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 8px auto;

    & li {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

// sendmail

.sendmail{
  height: 400px;
  background: url(./../images/photo-9.jpg) no-repeat;
  background-position: center center;
  background-size: cover;

  & h3{
    line-height: 1.5;
    margin-bottom: 12px;

    @include mobile{
      font-size: 24px;
      margin-bottom: 22px;
    }
  }
}

.inputGroup{
  width: 350px;
  display: flex;

  @include mobile {width: 100%;}

  & input {
    width: 70%;
    line-height: 1;
    border: 0;
    border-radius: 4px 0 0 4px;
  }

  & a {
    width: 30%;
    line-height: 1;
    color: $white;
    background-color: $secondary;
    border-radius: 0 4px 4px 0;
  }
}

// footer

.copyright{
  display: flex;

  @include mobile{
    flex-direction: column;
    p {margin-bottom: 4px;}
  }
}