.checkout{
  display: flex;
  justify-content: space-between;

  @include pad {
    flex-direction: column-reverse;
  }
}

.checkoutNum{
  display: block;
  display: flex;
  align-items: center;

  @include mobile{
    display: none;
  }
}

.checkoutClose{
  display: flex;
  align-items: center;

  @include mobile{
    align-self: flex-start;
  }
}

.checkoutInput{
  width: 32%;
  margin: 0 0 20px auto;

  @include pad{
    width: 80%;
    margin: 0 auto 50px auto;
  }
  @include mobile{ width: 100%; }
}

.max-w__540{
  max-width: 540px;
  padding: 102px 10px;
  margin: 0 auto;

  @include mobile{
    padding: 42px 10px;
  }
}