* , *::before, *::after {
	box-sizing: border-box;
}

body {
  font-family: 'Noto Sans CJK TC', 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul, dl {
  line-height: 1.5;
}

h1 {font-size: 40px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

::placeholder {
  color: $gray;
	font-size: 16px;
}

input:focus::placeholder {
	color: transparent;
}

img {
  max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
  object-position:center;
}

a{ 
  display: block;
  color: $darkgray;
  transition: all 0.5s; // 滑鼠移過時增加動態效果
  text-decoration: none;
  
	&:hover{
    color: $secondary;
		text-decoration: none;
	}
}
