.container{
  max-width: 1110px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.boxShadow{
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo{
  width: 196px;
  height: 26px;
  background: url(./../images/logo.svg) center center no-repeat;
  @include hide-text
}

.titleH3{
  font-weight: 700;
  margin-bottom: 24px;
  @include pad{
    margin-bottom: 8px;
  }
}


// background-color

.bg-gray { background-color: #EFEFEF;}
.bg-primary { background-color: $primary;}


// boder

.boderLeft{
  border-left: 1px solid $white;
}