.container{
  max-width: 1110px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.top{
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.boxShadow{
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo{
  width: 196px;
  height: 26px;
  background: url(./../images/logo.svg) center center no-repeat;
  @include hide-text
}

.titleH3{
  font-weight: 700;
  margin-bottom: 24px;
  @include pad{
    margin-bottom: 8px;
  }
}

.textIndent-2{
  text-indent: 2em;
}


// background-color

.bg-white { background-color: $white;}
.bg-gray { background-color: #EFEFEF;}
.bg-primary { background-color: $primary;}


// boder

.boderLeft-white{
  border-left: 1px solid $white;
}

.boderLeft-black{
  border-left: 1px solid $black;
}

.boderTop-secondary{
  border-top: 2px solid $secondary;
}

.boderTop-lightgray{
  border-top: 2px solid $lightgray;
}


// position

.position-relative { position: relative; }
.position-absolute { position: absolute; }

.rightCenter {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  // 定位垂直置中
  z-index: 1;
}

.leftTop{
  left: 5px;
  top: 5px;
  z-index: 1;
}


// dot

.dot{
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);

  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.dot-secondary{
  border: 2px solid $secondary;
  background-color: $secondary;
}

.dot-outline-secondary{
  border: 2px solid $secondary;
  background-color: $white;
}