// media

.desk-none{
  display: none;

  @include pad{
    display: block;
  }
}

.desk-only{
  display: block;

  @include pad{
    display: none;
  }
}

.mobile-none{
  display: block;

  @include mobile{
    display: none;
  }
}

.mobile-only{
  display: none;

  @include mobile{
    display: block;
  }
}