// flex

.d-flex{ display: flex; }

.flex-row-reverse { flex-direction: row-reverse; }
.flex-column      { flex-direction: column; }

.justify-content-end     { justify-content: flex-end; }
.justify-content-center  { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around  { justify-content: space-around; }

.align-items-center { align-items: center; }
.align-items-end    { align-items: flex-end; }

.align-self-end { align-self: flex-end; }


// Weight

.font-weight-light   { font-weight: 300; }
.font-weight-normal  { font-weight: 400; }
.font-weight-medium  { font-weight: 500; }
.font-weight-bold    { font-weight: 700; }


// font align

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


// height

.h-100 { height: 100%; }


// width

.w-49  { width: 49%; }
.w-100 { width: 100%; }

.w__140 { width: 140px; }
.w__190 { width: 190px; }

.w__350{
  width: 350px;
  @include pad{ width: 345px; }
}