.btn{
  display: inline-block;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}


.btn-gray{
  color: $white;
  line-height: 1;
  background-color: $gray;
  border: 1px solid $gray;

  &:hover{
    color: $white;
    background-color: $black;
    border: 1px solid $black;
  }
}

.btn-primary{
  color: $white;
  line-height: 1;
  background-color: $primary;
  border: 1px solid $primary;

  &:hover{
    color: $white;
    background-color: $secondary;
    border: 1px solid $secondary;
  }
}

.btn-secondary{
  color: $white;
  line-height: 1;
  background-color: $secondary;
  border: 1px solid $secondary;

  &:hover{
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
  }
}



.btn-outline-white{
  color: $white;
  line-height: 1;
  background-color: transparent;
  border: 1px solid $white;

  &:hover{
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
  }
}

.btn-outline-gray{
  color: $gray;
  line-height: 1;
  background-color: transparent;
  border: 1px solid $gray;

  &:hover{
    color: $white;
    background-color: $gray;
    border: 1px solid $gray;
  }
}

.btn-outline-primary{
  color: $primary;
  line-height: 1;
  background-color: transparent;
  border: 1px solid $primary;

  &:hover{
    color: $white;
    background-color: $secondary;
    border: 1px solid $secondary;
  }
}

.btn-group{
  display: flex;
  justify-content: space-between;
}